[
{
     "path": "/var/log/auth.log",
     "filter": [
     {"regex": "Accepted password for (\\w+) from (\\d+\\.\\d+\\.\\d+\\.\\d+) port (\\d+) (\\w+)",
	     "emit":
	     { "username": "{0}",
	     "ip_address": "{1}",
	     "port": "{2}",
	     "protocol": "{3}"}

     },
     {"regex": "Failed password for (invalid user)? ?(\\w+) from (\\d+\\.\\d+\\.\\d+\\.\\d+) port (\\d+) (\\w+)",
	     "emit":
	     { "username": "{1}",
	     "ip_address": "{2}",
	     "port": "{3}",
	     "protocol": "{4}"
}

     }],
     "output": "stdout"
},




{
     "path": "/var/log/apache2/access.log",
      "filter": [
    {"regex": "(%IP) (%STR) (%NAME) \\[(%NUM/%WORD/%NUM:%TIME [+-]?%NUM)] \\\"(%ALPHA) (%STR) (%WORD)/(\\d\\.\\d)\\\" (%NUM) (%NUM)",
	     "emit":
         {
	     "ip_address": "{0}",
	     "unknown": "{1}",
         "username": "{2}",
	     "timestamp": "{3}",
	     "http_command": "{4}",
	     "path": "{5}",
	     "protocol": "{6}",
	     "protocol_version": "{7}",
	     "code": "{8}",
	     "size": "{9}"
	     }

     }
     ],
     "output": "mongo"
 }
]