[
{
     "path": "/var/log/auth.log",
     "name": "auth_ssh",
     "output": "mongo",
     "filter": [
     {
     "regex": "(%SYSLOG_TIMESTAMP:timestamp) (%NAME:host).*: Accepted (%WORD:access) for (%NAME:username) from (%IP:addr) port (%NUM:port) (%WORD:protocol)",
     "emit":
	     {
	        "timestamp": "{timestamp}",
             "username": "{username}",
             "access": "{access}",
             "ip_address": "{addr}",
             "port": "{port}",
             "protocol": "{protocol}",
             "type": "connect"
        },
        "transform": {
            "timestamp": "date",
            "port": "int"
	     }
    } ,
     {
     "regex": "(%SYSLOG_TIMESTAMP:timestamp) (%NAME:host).*: Failed (?:password|none) for (?:invalid user )?(%NAME:username) from (%IP:addr) port (%NUM:port) (%NAME:protocol)",
	     "emit":
	     {
	         "timestamp": "{timestamp}",
             "username": "{username}",
             "ip_address": "{addr}",
             "port": "{port}",
             "protocol": "{protocol}",
             "type": "failed"
        },
        "transform": {
            "timestamp": "date",
            "port": "int"
        }

     },
     {

     "regex": "(%SYSLOG_TIMESTAMP:timestamp) (%NAME:host).*: Disconnected from user (%NAME:username) (%IP:addr) port (%NUM:port)",
	     "emit":
	     {
	        "timestamp": "{timestamp}",
            "username": "{username}",
	        "ip_address": "{addr}",
	        "port": "{port}",
	        "type": "disconnect"
        },
        "transform": {
            "timestamp": "date",
            "port": "int"
        }
     }
     ]
},
{
     "path": "/var/log/apache2/access.log",
     "name": "apache_access",
     "output": "mongo",
      "filter": [
        {
         "regex": "(%IP:addr) (%STR:unknown) (%NAME:username) (%APACHE_TIMESTAMP:date) \\\"(%ALPHA:cmd) (%STR:path) (%WORD:protocol)/(%VERSION:ver)\\\" (%NUM:code) (%NUM:size)",
         "emit":
             {
             "ip_address": "{addr}",
             "unknown": "{unknown}",
             "username": "{username}",
             "dummy": "{day}/{mon} {year} {time} {offset}",
             "timestamp": "{date}",
             "http_command": "{cmd}",
             "path": "{path}",
             "protocol": "{protocol}",
             "protocol_version": "{ver}",
             "code": "{code}",
             "size": "{size}"
        },
        "transform": {
            "timestamp": "date",
            "size": "int"
             }
         }
     ]
 }
]