
{% if asn_data != {} %}
<h5>ASN information for {{item}}</h5>
<ul>
    {% for y in asn_data %}
    <li>{{y}} : {{ asn_data[y] }} </li>
    {% endfor %}
</ul>
{%endif%}

{% if location != {} %}
<h5>Location information for {{item}}</h5>
<ul>
    {% for y in location %}
        {%if y == 'Flag' %}
        {%else%}
        <li>
            {{y}} : {{ location[y] }}
            {% if y == 'Country' and "Flag" in location %}
                &nbsp;
                <img src="{{ url_for('static', filename='img/flags/' ~ location['Flag']|lower ~ '.png') }}" title="{{location['Flag']}}">
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{%endif%}
