<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Log Analyser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ChartNew.js') }}"></script>

<style> {# included here because relative path #}
@font-face {
    font-family: "My Custom Font";
    src: url("{{ request.script_root }}/static/fonts/fontawesome-webfont.ttf") format("truetype");
}
</style>
</head>

<body class="text-white bg-dark">

<div id="maindiv" class="container-fluid max-height no-overflow">
    <nav class="navbar navbar-fixed-top" id="navbar">
        <div>
            <button class="btn btn-secondary"><a href=".."><i class="fas fa-home"></i></a></button>

            <input type="radio" class="btn-check" name="timeperiod" id="hourly" autocomplete="off" >
            <label class="btn btn-secondary" for="hourly">Last Hour</label>

            <input type="radio" class="btn-check" name="timeperiod" id="daily" autocomplete="off" checked>
            <label class="btn btn-secondary" for="daily">Today</label>

            <input type="radio" class="btn-check" name="timeperiod" id="yesterday" autocomplete="off">
            <label class="btn btn-secondary" for="yesterday">Yesterday</label>

            <input type="radio" class="btn-check" name="timeperiod" id="weekly" autocomplete="off">
            <label class="btn btn-secondary" for="weekly">Week</label>

            <input type="radio" class="btn-check" name="timeperiod" id="monthly" autocomplete="off">
            <label class="btn btn-secondary" for="monthly">Month</label>

            <input type="radio" class="btn-check dropdown-toggle" name="timeperiod" id="custom" autocomplete="off">
            <label class="btn btn-secondary" for="custom">Custom</label>
            <div id="custom_timepicker" class="dropdown-menu bg-dark" aria-labelledby="custom">
                <div class="container bg-dark">
                    <div class="row bg-dark">
                        <div class="col align-self-end bg-dark border">
                            <div class="bg-dark" id="timepicker">
                                <br>
                                <div class="input-group input-group-sm pull-right bg-dark" id="time_selector1">
                                    <div class="input-group-prepend"><span class="input-group-text btn-secondary">From</span></div>
                                    <input type="datetime-local" name="from_timestamp" id="from_date" class="pull-right bg-dark">
                                </div>
                                <div class="input-group input-group-sm mr-auto pull-right bg-dark" id="time_selector2">
                                    <div class="input-group-prepend"><span class="input-group-text btn-secondary">To</span></div>
                                    <input type="datetime-local" name="to_timestamp" id="to_date" class="bg-dark">
                                </div>
                                <br>
                                <button class="submit_custom btn-sm btn-secondary " id="submit_custom" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>
<div class="col scrollable bottom_margin" id="itemstablediv">

    <br>

    <div class="row no-gutters">
        {% for k in data_types %}
            <div class="col-md-auto" id="canvas_div_{{x}}">
                <canvas id="canvas_{{k}}" height="480" width="640" data-type="{{data_types[k][0]}}" data-name="{{data_types[k][1]}}" data-title="{{data_types[k][2]}}"></canvas>
            </div>
        {% endfor %}
    </div>
</div>


</div>


<div id="alert_success_bar" class="hidden alert_bar alert_outer">
<div class="alert alert-success alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_success_text"></span>
</div>
</div>

<div id="alert_error_bar" class="hidden alert_bar alert_outer" >
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_error_text"></span>
</div>
</div>

<script>
var script_root = '{{ request.script_root }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>
