<tr>
{% for x in keys %}
<th>{{ x|title }} </th>
{% endfor %}
</tr>

{%if data|length > 0 %}
{% for d in data %}
<tr>
{% for k in d %}
    <td><span title="{{d[k]}}">{{ d[k]| truncate(80) }}</span>
    {% if k == 'ip_address' %}
        {% set flag = flags[d[k]] %}
        {% if flag != '' %}
            <img src="{{ url_for('static', filename='img/flags/' ~ flag ~ '.png') }}">
        {% endif %}
    {% endif %}
    </td>
{% endfor %}
</tr>
{% endfor %}
{% else %}
<tr>
    <td> No items found </td>
</tr>
{% endif %}