<div class="modal" tabindex="-1" id="dns_popup">
    <div class="modal-dialog modal-xl bg-dark">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">DNS Info</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dns_popup_content">
                </div>
                <div  id="asn_data">
                </div>
                <div  id="whois_data">
                </div>
                <div  id="passive_dns_data">
                </div>
                <div id="threat_links">
                </div>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
