<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Log Analyser</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<style> {# included here because relative path #}
@font-face {
    font-family: "My Custom Font";
    src: url("{{ request.script_root }}/static/fonts/fontawesome-webfont.ttf") format("truetype");
}
</style>
</head>

<body class="text-white bg-dark">

<div id="maindiv" class="container-fluid max-height no-overflow">
    <nav class="navbar navbar-fixed-top">
        <div>
            <button class="btn btn-secondary" id="dash_button"><i class="fas fa-table"></i></button>
            <button class="btn btn-secondary" id="note_button"><i class="fas fa-envelope"></i></button>
            <input type="radio" class="btn-check" name="timeperiod" id="hourly" autocomplete="off">
            <label class="btn btn-secondary" for="hourly">Last Hour</label>

            <input type="radio" class="btn-check" name="timeperiod" id="24hour" autocomplete="off" checked>
            <label class="btn btn-secondary" for="24hour">24 Hours</label>

            <input type="radio" class="btn-check" name="timeperiod" id="daily" autocomplete="off">
            <label class="btn btn-secondary" for="daily">Today</label>

            <input type="radio" class="btn-check" name="timeperiod" id="yesterday" autocomplete="off">
            <label class="btn btn-secondary" for="yesterday">Yesterday</label>

            <input type="radio" class="btn-check" name="timeperiod" id="weekly" autocomplete="off">
            <label class="btn btn-secondary" for="weekly">Week</label>

            <input type="radio" class="btn-check" name="timeperiod" id="monthly" autocomplete="off">
            <label class="btn btn-secondary" for="monthly">Month</label>

             <input type="radio" class="btn-check dropdown-toggle" name="timeperiod" id="custom" autocomplete="off">
            <label class="btn btn-secondary" for="custom">Custom</label>
        <div id="custom_timepicker" class="dropdown-menu bg-dark" aria-labelledby="custom">
                <div class="container bg-dark">
                    <div class="row bg-dark">
                        <div class="col align-self-end bg-dark border">
                            <div class="bg-dark" id="timepicker">
                                <br>
                                <div class="input-group input-group-sm pull-right bg-dark" id="time_selector1">
                                    <div class="input-group-prepend"><span class="input-group-text btn-secondary">From</span></div>
                                    <input type="datetime-local" name="from_timestamp" id="from_date" class="pull-right bg-dark">
                                </div>
                                <div class="input-group input-group-sm mr-auto pull-right bg-dark" id="time_selector2">
                                    <div class="input-group-prepend"><span class="input-group-text btn-secondary">To</span></div>
                                    <input type="datetime-local" name="to_timestamp" id="to_date" class="bg-dark">
                                </div>
                                <br>
                                <button class="submit_custom btn-sm btn-secondary " id="submit_custom" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <div class="navbar-right">
    <div class="input-group input-group-sm">
        <input id="searchbar" class="form-control bg-dark border-darkish" type="text" placeholder="Search">
        <span class="input-group-btn border-darkish">
        <button type="button" id="searchbutton" class="btn btn-secondary btn-sm border-darkish">Search</button></span>
        &nbsp;
        <div class="input-inline">
            <div class="input-group input-group-sm">
                <label for="host_selector" class="control-label">Host:&nbsp;&nbsp;</label>
                <select id="host_selector" class="form-control form-control-sm bg-dark">
                </select>
            </div>
        </div>
    </div>
    </div>

</nav>

    <div class="row max-height">
        <div class="col-auto scrollable bottom_margin" id="logtypes">
            <ul class="list-group">
            <li class="list-unstyled components" id="log_list">
                <hr>
                {% for data_type in main_data_types %}
                <li class="list-unstyled components"><b> {{main_data_titles[data_type]}} </b>
                 <ul class="">
                    {% for x in main_data_types[data_type] %}
                     {% set data = main_data_types[data_type][x] %}
                    <li class="list-unstyled components" role="button" id="{{data[0]}}_{{data[1]}}" data-type="{{main_data_titles[data_type]}}">{{data[2]}}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <br>
            <h6><small>{{ prog_name}}</small> </h6>
        </div>

        <div class="col scrollable bottom_margin" id="itemstablediv">
            <br>
            <h2> <span id="header"></span></h2>
            <div>
            <table class="table table-dark table-condensed table-sm table-hover" id="itemstable" cellpadding="0" cellspacing="0">
            <tbody></tbody>
            </table>
            </div>
        </div>
    </div>
</div>


<div id="alert_success_bar" class="hidden alert_bar alert_outer">
<div class="alert alert-success alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_success_text"></span>
</div>
</div>

<div id="alert_error_bar" class="hidden alert_bar alert_outer" >
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="alert_error_text"></span>
</div>
</div>

<div class="modal" tabindex="-1" id="dns_popup">
    <div class="modal-dialog modal-xl bg-dark">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-dark">
                <h5 class="modal-title">DNS Info</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dns_popup_content">
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
var script_root = '{{ request.script_root }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/w3.js') }}"></script>

</body>
</html>
