<tr>
{%set cntr = namespace(value=1) %}
{% for x in keys %}
    <th onclick="w3.sortHTML('#itemstable','.table_item', 'td:nth-child({{ cntr.value }})')" style="cursor:pointer">{{ names[x] }}</th>
    {% set cntr.value = cntr.value + 1 %}
{% endfor %}
</tr>

{%if data|length > 0 %}
    {% for d in data %}
        <tr class="table_item">
        {% for k in keys %}
            {% if k == 'ip_address' or k == 'dest_address' %}
                {% set h = get_hostname(d[k]) %}
                <td><span title="{{d[k]}}" class="ip_addr" data-content="{{h}}">{{ h | truncate(80) }}</span>
                {% set flag, country = get_flag_by_ip(d[k]) %}
                {% if flag != '' %}
                    <img src="{{ url_for('static', filename='img/flags/' ~ flag ~ '.png') }}" title="{{country}}">
                {% endif %}
            {% else %}
                <td> {{ d[k] }}
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% else %}
<tr> <td> No items found </td> </tr>
{% endif %}