<tr>
{% for x in keys %}
<th>{{ names[x] }} </th>
{% endfor %}
</tr>

{%if data|length > 0 %}
{% for d in data %}
<tr>
{% for k in keys %}
        {% if k == 'ip_address' %}
        <td><span title="{{d[k]}}" class="ip_addr">{{ d[k]| truncate(80) }}</span>
        {% set flag = flags[d[k]] %}
        {% if flag != '' %}
            <img src="{{ url_for('static', filename='img/flags/' ~ flag ~ '.png') }}">
        {% endif %}
    {% else %}
        <td> {{ d[k] }}
    {% endif %}
    </td>
{% endfor %}
</tr>
{% endfor %}
{% else %}
<tr>
    <td> No items found </td>
</tr>
{% endif %}