<h4>DNS for {{item}}</h4>
<ul>
{% for x in dns_data  %}
	<li>{{ x }}</li>
{% endfor %}
</ul>

{% if whois_data != {} %}
<h4>Whois for {{item}}</h4>
<ul>
	{% for y in whois_data %}
		<li>{{y}} : {{ whois_data[y] }} </li>
	{% endfor %}
</ul>
{%endif%}

{% if asn_data != {} %}
<h4>ASN information for {{item}}</h4>
<ul>
	{% for y in asn_data %}
	<li>{{y}} : {{ asn_data[y] }} </li>
	{% endfor %}
</ul>
{%endif%}

{% if location != {} %}
<h4>Location information for {{item}}</h4>
<ul>
	{% for y in location %}
	<li>{{y}} : {{ location[y] }} </li>
	{% endfor %}
</ul>
{%endif%}

<div id="passive_dns_data">
</div>


<a href="https://www.virustotal.com/gui/ip-address/{{item}}" target="_blank">
	<img src="{{ url_for('static', filename='/img/icons/virustotal.svg')}}" height="32" width="32">
</a>
<a href="https://www.threatminer.org/host.php?q={{item}}" target="_blank">
	<img src="{{ url_for('static', filename='/img/icons/threatminer.png')}}" height="32" width="32">
</a>
