<a href="https://www.virustotal.com/gui/ip-address/{{item}}" target="_blank">
	<img src="{{ url_for('static', filename='/img/icons/virustotal.svg')}}" height="32" width="32">
</a>&nbsp;
<a href="https://www.threatminer.org/host.php?q={{item}}" target="_blank">
	<img src="{{ url_for('static', filename='/img/icons/threatminer.png')}}" height="32" width="32">
</a>&nbsp;
<a href="https://talosintelligence.com/reputation_center/lookup?search={{item}}" target="_blank">
	<img src="{{ url_for('static', filename='/img/icons/talos.png')}}" height="32" width="32">
</a>